.home-component {
    background-image: url(../assets/apartment-background.jpg);
    background-size: auto;
    height: 700px;
    width: auto;
}

.intro {
    background-color: rgba(250, 235, 215, 0.866);
    height: 200px;
}